In [1]:
import os
import pandas as pd

In [2]:
# init main df
main_df = pd.DataFrame()

# loop through all sub folders
for subdir, dirs, files in os.walk("/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata"):
    for file in files:
        filepath = os.path.join(subdir, file)
        
        # check if CSV data file
        if (".csv" in filepath):
            # make sample df
            df = pd.read_csv(filepath, low_memory=False)
            df = df.sample(frac=0.02, random_state=42)
            main_df = pd.concat([main_df, df], axis=0)
            print(filepath)
    
main_df = main_df.reset_index(drop=True)

/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202004-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202008-citibike-tripdata/202008-citibike-tripdata_3.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202008-citibike-tripdata/202008-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202008-citibike-tripdata/202008-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202011-citibike-tripdata/202011-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202011-citibike-tripdata/202011-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202009-citibike-tripdata/202009-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202009-citibike-tripdata/202009-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202009-citibike-tripdata/202009-citibike-tripdata_3.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202010-citibike-tripdata/202010-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202010-citibike-tripdata/202010-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202010-citibike-tripdata/202010-citibike-tripdata_3.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202012-citibike-tripdata/202012-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202012-citibike-tripdata/202012-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202007-citibike-tripdata/202007-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202007-citibike-tripdata/202007-citibike-tripdata_3.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202007-citibike-tripdata/202007-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202002-citibike-tripdata/202002-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202002-citibike-tripdata/202002-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202006-citibike-tripdata/202006-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202006-citibike-tripdata/202006-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202003-citibike-tripdata/202003-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202003-citibike-tripdata/202003-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202005-citibike-tripdata/202005-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202005-citibike-tripdata/202005-citibike-tripdata_1.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202001-citibike-tripdata/202001-citibike-tripdata_2.csv
/Users/seanhenderson/dabc/Homework/ds_module18_tableau/Starter_Code/2020-citibike-tripdata/202001-citibike-tripdata/202001-citibike-tripdata_1.csv

In [3]:
main_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [4]:
main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B8463FA2CBEC624E,classic_bike,2020-04-26 12:24:55.357,2020-04-26 12:40:01.994,Grand Army Plaza & Plaza St West,4010.15,Hicks St & Montague St,4645.09,40.672968,-73.970880,40.695128,-73.995951,member
1,DAAC0DA5249F3C7A,classic_bike,2020-04-26 10:31:35.053,2020-04-26 10:48:58.846,Lefferts Pl & Franklin Ave,4222.02,Smith St & 3 St,4151.01,40.680342,-73.955769,40.678724,-73.995991,member
2,5F453C90D6B76326,classic_bike,2020-04-24 19:37:03.222,2020-04-24 19:38:47.579,W 17 St & 8 Ave,6148.02,W 20 St & 8 Ave,6224.05,40.741776,-74.001497,40.743453,-74.000040,member
3,C511749A6D16528A,classic_bike,2020-04-11 09:59:24.873,2020-04-11 10:16:47.940,Cleveland Pl & Spring St,5492.05,Franklin St & W Broadway,5430.08,40.722104,-73.997249,40.719116,-74.006667,casual
4,3DF620222AD66926,classic_bike,2020-04-11 15:16:56.664,2020-04-11 16:36:37.414,Lafayette Ave & Fort Greene Pl,4395.04,Kingston Ave & Herkimer St,4205.06,40.686919,-73.976682,40.678907,-73.941428,casual

In [5]:
main_df["started_at"] = pd.to_datetime(main_df.started_at)
main_df["ended_at"] = pd.to_datetime(main_df.ended_at)

main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,B8463FA2CBEC624E,classic_bike,2020-04-26 12:24:55.357,2020-04-26 12:40:01.994,Grand Army Plaza & Plaza St West,4010.15,Hicks St & Montague St,4645.09,40.672968,-73.970880,40.695128,-73.995951,member
1,DAAC0DA5249F3C7A,classic_bike,2020-04-26 10:31:35.053,2020-04-26 10:48:58.846,Lefferts Pl & Franklin Ave,4222.02,Smith St & 3 St,4151.01,40.680342,-73.955769,40.678724,-73.995991,member
2,5F453C90D6B76326,classic_bike,2020-04-24 19:37:03.222,2020-04-24 19:38:47.579,W 17 St & 8 Ave,6148.02,W 20 St & 8 Ave,6224.05,40.741776,-74.001497,40.743453,-74.000040,member
3,C511749A6D16528A,classic_bike,2020-04-11 09:59:24.873,2020-04-11 10:16:47.940,Cleveland Pl & Spring St,5492.05,Franklin St & W Broadway,5430.08,40.722104,-73.997249,40.719116,-74.006667,casual
4,3DF620222AD66926,classic_bike,2020-04-11 15:16:56.664,2020-04-11 16:36:37.414,Lafayette Ave & Fort Greene Pl,4395.04,Kingston Ave & Herkimer St,4205.06,40.686919,-73.976682,40.678907,-73.941428,casual

In [6]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391244 entries, 0 to 391243
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             391244 non-null  object
 1   rideable_type       391244 non-null  object
 2   started_at          391244 non-null  datetime64[ns]
 3   ended_at            391244 non-null  datetime64[ns]
 4   start_station_name  391242 non-null  object
 5   start_station_id    391242 non-null  object
 6   end_station_name    390285 non-null  object
 7   end_station_id      390285 non-null  object
 8   start_lat           391244 non-null  float64
 9   start_lng           391244 non-null  float64
 10  end_lat             390286 non-null  float64
 11  end_lng             390286 non-null  float64
 12  member_casual       391244 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 38.8+ MB

In [7]:
main_df.rideable_type.value_counts()

rideable_type
classic_bike     335803
electric_bike     55441
Name: count, dtype: int64

In [8]:
main_df.to_csv("2020_citibike_sample.csv", index=False)